$('#surplus_land_comments').html("<%= j render @comments, surplus_land: @surplus_land %>");
<% if @message %>
  $('#comment_body').val('');
  $('#error_messages').empty();
<% else %>
  $('#error_messages').html('<div class="red">400字以内でコメントを入力してください</div>')
<% end %>
