<% provide(:title, @user.name) %>
<% provide(:page_title, 'プロフィール') %>

<div class="row py50">
  <div class="col-md-3">
    <%= render 'users/profile', user: @user %>
  </div>
  <div class="col-md-9 users-surplus-lands">
    <div class="own-surplus-land">
      <h3>貸し出しているキャンプ地＆BBQ場</h3>
      <div class="row">
        <%= render @own_surplus_lands, md: 4 %>
      </div>
    </div>
    <div class="like-surplus-land">
      <h3>行ってみたい（お気に入り）キャンプ地＆BBQ場</h3>
      <div class="row">
        <%= render @like_surplus_lands, md: 4 %>
      </div>
      <div class="text-center mt20"><%= paginate @like_surplus_lands %></div>
    </div>
  </div>
</div>
