<% provide(:title, @title) %>

<%= render 'shared/page_title', page_title: @page_title %>

<div class="row">
  <div class="col-md-4"> <!-- profile -->
    <%= render 'profile', user: @user %>
  </div>
  <div class="col-md-8"> <!-- follow or follower -->
    <%= render @relationship_users %>
    <%= paginate @relationship_users %>
  </div>
</div>
