<div class="top-image">
  <div class="top-sentence">
    <p>「キャンプしたい」</p>
    <p>「うちの庭、使ってください」</p>
    <p>今までにない狂気のマッチングサイト</p>
    <p>Mad Outdoor へようこそ</p>
  </div>
</div>

<%= link_to '一覧', surplus_lands_path %>
