@import "bootstrap-sprockets";
@import "bootstrap";

/*=========================== mixin, variable ===============================*/
$site-color: #205829;

$site-color-light: #f7fff5;

@mixin ignore-container {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}
/*============================== common =====================================*/
body {
  background-color: $site-color-light;
}

a {
  color: #777;
  &:hover {
    color: #555
  }
}

p {
  font-size: 16px;
}

ul, ol {
  list-style: none;
  padding: 0;
}

.alert {
  @include ignore-container;
}

.content {
  background-color: #fff;
  padding: 40px 40px;
  border-radius: 20px;
}
/*------------------------------- spacing ------------------------------------*/
.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt50 {
  margin-top: 50px;
}

.mt70 {
  margin-top: 70px;
}

.mt100 {
  margin-top: 100px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml30 {
  margin-left: 30px;
}

.pb50 {
  padding-bottom: 50px;
}

.py50 {
  padding: 50px 0;
}
/*----------------------------------- color ----------------------------------*/
.orange {
  color: orange;
}

.red {
  color: red;
}

.site-color {
  color: $site-color;
}
/*--------------------------------- display ----------------------------------*/
.d-inline {
  display: inline;
}

.d-i-block {
  display: inline-block;
}
/*-------------------------------- button ------------------------------------*/
.btn.request {
  width: 200px;
}
/*================================ page_title ================================*/
.page-title {
  @include ignore-container;
  height: 120px;
  background-color: $site-color;
  h3 {
    color: #fff;
    line-height: 120px;
    margin-top: 0;
  }
}
/*================================ top page ==================================*/
.top-image {
  @include ignore-container;
  background-image: url("/images/top-image.jpg");
  background-position: center;
  height: 400px;
  position: relative;
  .top-sentence {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    p {
      color: white;
      opacity: .9;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      line-height: 2em;
    }
  }
}
/*------------------------ introduction section ------------------------------*/
.introduction-text {
  p {
    line-height: 2em;
  }
}

.introduction-link {
  @include ignore-container;
  .link-text {
    height: 300px;
    background-color: $site-color;
    overflow: hidden;
    h2, h3, p {
      color: #fff;
      opacity: .9;
    }
    p {
      text-align: right;
      a {
        color: #fff;
        display: inline-block;
        margin-top: 40px;
        font-size: 20px;
      }
    }
  }
  .link-image {
    height: 300px;
    background-image: url("/images/link-image.jpg");
    background-size: cover;
  }
}
/*--------------------------- recent surplus_lands ---------------------------*/
.recent-land h3 {
  border-bottom: 5px solid #ccc;
}
/*---------------------------- @surplus_lands --------------------------------*/
.surplus-land-box {
  text-align: center;
}

.sp {
  display: none;
}

@media (max-width: 768px) {
  .pc {
    display: none;
  }
  .sp {
    display: inline-block;
    width: 85%;
  }
}
/*============================= surplus_land index page ======================*/
.prefecture-link {
  display: block;
}
/*============================ surplu_land show page =========================*/
a.apply-again {
  text-decoration: none;
}
.description-heading {
  color: $site-color;
  background-color: $site-color-light;
  width: 130px;
  padding: 5px 0;
  text-align: center;
  border-radius: 8px;
}
/*------------------------------- slide image --------------------------------*/
.image-box {
  .image {
    width: 100%;
  }
}

.thumb-list {
  .image {
    height: 70px;
  }
}
/*------------------------------- comment ------------------------------------*/
.comment-box {
  word-wrap: break-word;
  padding: 10px 0;
}

.row.comment-row + .row.comment-row {
  border-top: 1px solid #ccc;
}

.row.comment-row.comment-0 {
  border-top: 1px solid #ccc;
}

.read-more-btn {
  cursor: pointer;
  margin-top: 20px;
}
/*-------------------------------- google map --------------------------------*/
.google-map {
  max-width: 800px;
  height: 400px;
  margin: 0 auto;
}
/*=============================== users show page ============================*/
.content.profile {
  margin-bottom: 40px;
  @media (max-width: 768px) {
    text-align: center;
    .profile-name-gender {
      text-align: left;
    }
  }
  @media (min-width: 992px) {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}

.users-surplus-lands {
  h3 {
    text-align: center;
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    padding: 25px 0;
  }
  .own-surplus-land h3 {
    margin-top: 0;
  }
}
/*============================== footer ======================================*/
footer {
  @include ignore-container;
  height: 50px;
  padding-top: 17px;
  background-color: $site-color;
  color: #fff;
  .small {
    float: left;
    font-size: 13px;
  }
  ul {
    float: right;
    li {
      float: left;
      margin-left: 15px;
      a {
        color: #fff;
        &:hover {
          color: #ccc;
        }
      }
    }
  }
}
