@import "bootstrap-sprockets";
@import "bootstrap";

/*============================== spacing ====================================*/
.mt50 {
  margin-top: 50px;
}

.mb50 {
  margin-bottom: 50px;
}
/*================================ form =====================================*/
.devise-link {
  a {
    color: #777;
  }
}
