<footer>
  <div class="container">
    <nav>
      <ul>
        <% if signed_in? %>
        <li><%= link_to "キャンプ地を登録", new_surplus_land_path %></li>
        <% end %>
        <li>
          <%= link_to '利用規約', '#', class: 'small' %>
        </li>
      </ul>
    </nav>
    <p class="small">&copy; <%= Time.current.year %> Mad Outdoor !</p>
  </div>
</footer>
